button:focus {
  background-color: red;
}

.booking-section {
  display: flex;
  flex-direction: column;

  .booking-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  hr {
    color: black;
    border-top: 1px solid grey;
    width: 90%;
  }

  .contact-info {
    display: flex;
    flex-direction: column;

    h1 {
      align-self: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        border-color: blue;
      }

      button {
        width: 50%;
        background-color: blue;
        color: white;
        padding: 10px;
        margin: 8px 0;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 1.5em;
      }

      button:hover {
        background-color: #213fea;
      }
    }
  }
}
